# url is the full website URL
# baseurl is the website's URL without the hostname
url: "http://eugeniavoytik.github.io"
baseurl: ""

title: AlphaPept
description: A modular, python-based framework for Mass Spec

# List of links in the navigation bar
navbar-links:
  Why AlphaPept:
    - What we do: "goals"
    - Join us: "join"
    - Contact: "contact"
    - Code of Conduct: "CODE_OF_CONDUCT"
  Documentation: 
    - Quick Start Guide: "quick_guide"
    - Full User Guide: "full_guide"
    - Feature Finder Tutorial: "ff_tutorial"
    - Search Engine Tutorial: "SE_tutorial"
  Download: 
    - Conda Download and Installion: "bioconda"
    - Current Release and Manual Installation: "downloads"
    - Developmental Version: "github"
  Blog: "blog"
  Help: "help"

# Change all these values or delete the ones you don't want (these appear in the footer).
# Important: you must keep the "name" parameter, everything else you can remove
author:
  name: "AlphaPept - MassSpec Consortium"
  email: "@biochem.mpg.de"
  github: eugeniavoytik/eugeniavoytik.github.io
  facebook: yourname  # eg. daattali
  twitter:  "@labs_mann"  # eg. daattali

# Select which links to show in the footer
footer-links-active:
  github: true
  email: true
  rss: false
  facebook: false
  twitter: true

# Select which share links to show in posts
share-links-active:
  twitter: true
  facebook: true
  google: false
  linkedin: true
  
# Fill in your Disqus shortname (NOT the userid) if you want to support Disqus comments
# disqus: "eugeniavoytik-github-io"

# Google Analytics ID
# google_analytics: ""

# Output options (more information on Jekyll's site)
timezone: "Europe/Munich"
markdown: kramdown
highlighter: rouge
permalink: /:year-:month-:day-:title/
paginate: 5
paginate_path: "/blog/page:num/"

kramdown:
  input: GFM

# Default YAML values (more information on Jekyll's site)
defaults:
  -
    scope:
      path: ""
      type: "posts"
    values:
      layout: "post"
      comments: true  # add comments to all blog posts
      social-share: true # add social media sharing buttons to all blog posts
  -
    scope:
      path: "" # all files
    values:
      layout: "page"
      show-avatar: true

# Exclude these files from production site
exclude:
  - LICENSE
  - README.md

gems:
  - jekyll-paginate
